:root {
    --cor-fundo: #000000;
    --cor-principal: #ff8fd4;
    --cor-secundaria: #212333;
    --cor-destaque: #ff009d;
    --cor-texto: #ffffff;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal {
    background-color: var(--cor-principal);
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}

.mensagem {
    position: absolute;
    bottom: 20px;              
    left: 20px;                
    background-color: #e642c5;
    padding: 10px;             
    border-radius: 10px;
    text-align: justify;
    width: 200px;             
}